@page "/"

<h1>Acedemia of Kasper H. Steenstrup</h1>

This homepage is a gathering place of the acedemia activment of Kasper H. Steenstrup. I have done a Mater in computer science from Copenhargen University and a Ph.d in Geometry from Denmark Tenical University.